@use "../../../scss/variable.scss";

.adminTable {
    border-collapse: collapse;
    width: 100%;

    thead {
        font-size: variable.$size-r10 + 0.1;
        border-bottom: 2px solid black;
        background-image: radial-gradient(
            100% 100% at 100% 0,
            variable.$color-background-main1 0,
            variable.$color-background-main2 100%
        );

        th {
            &:first-child {
                border-top-left-radius: variable.$main-border-radius;
            }
            &:last-child {
                border-top-right-radius: variable.$main-border-radius;
            }
        }
    }

    tbody {
        font-weight: variable.$weights-6;

        tr {
            &:nth-child(even) {
                background-color: variable.$color-table-1;
            }

            &:nth-child(odd) {
                background-color: variable.$color-table-2;
            }
        }

        td {
            padding: 0.1rem;
        }
    }

    tfoot {
        font-size: variable.$size-r10;
        font-weight: variable.$weights-6;

        tr {
            &:nth-child(even) {
                background-color: variable.$color-table-1;
            }

            &:nth-child(odd) {
                background-color: variable.$color-table-2;
            }
        }

        tr:last-child {
            td {
                &:first-child {
                    border-bottom-left-radius: variable.$main-border-radius;
                }

                &:last-child {
                    border-bottom-right-radius: variable.$main-border-radius;
                }
            }
        }
    }
}

.tdnn {
    td {
        width: 20%;
    }
}

.tdBorder {
    border-top: 2px solid black;
}
