@use "../../../scss/variable.scss";

.mainContainer {
    width: 100%;
    background-image: radial-gradient(
        100% 100% at 100% 0,
        variable.$color-background-main1 0,
        variable.$color-background-main2 100%
    );
}

.tdnn {
    td {
        width: 20%;
    }
}

.tdBorder {
    border-top: 2px solid black;
}
