@use "../../scss/variable.scss";

.lotteryListContainer {
    width: 100%;
    height: 700px;
    border-radius: 0.5rem;
    background-color: variable.$color-background-LotteryTicket;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;
    @include variable.flexBox(column, nowrap, normal, normal, normal);
    gap: 1rem;

    h3 {
        text-align: center;
    }
}

.lotteryTicketContainer {
    width: 100%;
    height: 4rem;
    min-height: 4rem;
    background-image: radial-gradient(
        100% 100% at 100% 0,
        variable.$color-background-main1 0,
        variable.$color-background-main2 100%
    );
    border-radius: 0.5rem;
    border: 1px solid variable.$color-font-lotteryTicket;
    @include variable.flexBox(column, nowrap, normal, space-evenly, normal);
    font-weight: variable.$weights-5;
}

.ticketTitleCont {
    @include variable.flexBox(row, nowrap, center, space-between, center);
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    .lottoId {
        width: 30%;
        text-align: end;
    }
}

.lotteryNumberContainer {
    @include variable.flexBox(row, nowrap, center, center, center);
    gap: 0.5rem;

    .lotteryNumber {
        width: 25px;
        height: 25px;
        background-color: variable.$color-background-lotteryNumber;
        border: 1px solid variable.$color-font-lotteryTicket;
        border-radius: 50%;
        @include variable.flexBox(row, nowrap, center, center, center);
        font-weight: variable.$weights-5;
        font-size: variable.$size-r10;
    }
}

@include variable.Small {
}
@include variable.Medium {
    .lotteryListContainer {
        width: calc(50% - 1rem);
    }
}
@include variable.Large {
}
@include variable.Extra-large {
}
@include variable.XXL-large {
}
@include variable.XXXL-large {
}
