@use "../../scss/variable.scss";

.mainContainer {
    width: 100%;
    height: auto;
    background-color: #efefef;
}

.container {
    @include variable.container-my;
    height: 100%;
}

.profileContainer {
    width: 200px;
    height: 140px;
    border-radius: 0.5rem;
    background-image: radial-gradient(
        100% 100% at 100% 0,
        variable.$color-background-main1 0,
        variable.$color-background-main2 100%
    );
}

.tippContainer {
    grid-template-columns: repeat(8, 1fr);

    width: calc(25px * 8);
}
