@use "../../scss/variable.scss";

.mainContainer {
    width: 100%;
    height: auto;
    //background-color: #efefef;
    background-color: #454b57;
}

.container {
    @include variable.container-my;
    height: 100%;
    @include variable.flexBox(row, nowrap, normal, normal, normal);
    gap: 2rem;
}

.profileContainer {
    width: 200px;
    height: 140px;
    border-radius: 0.5rem;
    background-image: radial-gradient(
        100% 100% at 100% 0,
        variable.$color-background-main1 0,
        variable.$color-background-main2 100%
    );
}

.tippContainer {
    grid-template-columns: repeat(8, 1fr);

    width: calc(25px * 8);
}

.ticketTitleCont {
    @include variable.flexBox(row, nowrap, center, space-between, center);
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    .lottoId {
        width: 40%;
        text-align: end;
    }
}

.lotteryListContainer {
    width: 220px;
    height: 100%;
    background-color: aqua;
    padding: 1rem;
    @include variable.flexBox(column, nowrap, normal, normal, normal);
    gap: 0.5rem;
}

.lotteryTicketContainer {
    width: 100%;
    height: 5rem;
    background-color: bisque;
    border-radius: 0.5rem;
    @include variable.flexBox(column, nowrap, normal, space-evenly, normal);
}

.lotteryNumberContainer {
    @include variable.flexBox(row, nowrap, center, center, center);
    gap: 0.5rem;

    .lotteryNumber {
        width: 25px;
        height: 25px;
        background-color: aliceblue;
        border-radius: 50%;
        @include variable.flexBox(row, nowrap, center, center, center);
        font-weight: variable.$weights-5;
        font-size: variable.$size-r10;
    }
}
