@use "../../scss/variable.scss";

.mainContainer {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: variable.$color-main-background;
}

.container {
    @include variable.container-my;
    height: 100%;
    @include variable.flexBox(row, wrap, normal, center, normal);
    gap: 2rem;
}

.controlContainer {
    width: 80%;
    max-width: 565px;
    @include variable.flexBox(row, wrap, normal, center, normal);
    gap: 2rem;
}

.profileContainer {
    min-width: 240px;
    width: calc(100% - 1rem);
    max-width: 560px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-image: radial-gradient(
        100% 100% at 100% 0,
        variable.$color-background-main1 0,
        variable.$color-background-main2 100%
    );

    .iconContainer {
        width: 100%;
        height: auto;
        @include variable.flexBox(row, nowrap, normal, space-around, center);
        margin-bottom: 1.5rem;

        .iconCont {
            width: 70px;
            @include variable.flexBox(column, nowrap, normal, space-evenly, center);
            font-weight: variable.$weights-9;
            .icon {
                font-size: variable.$icon-r20;
            }
        }

        [type="text"] {
            width: 95%;
            height: 2rem;
            background: none;
            border: 3px solid variable.$color-font-lotteryTicket;
            border-radius: 0.5rem;
            outline: none;
            text-align: center;
            color: variable.$color-basic-black;
            line-height: 0.5rem;
            cursor: pointer;
            font-weight: variable.$weights-9;
            font-size: variable.$size-r10;

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                appearance: none;
            }
        }
        .icon {
            font-size: variable.$size-r20;
        }
    }

    .nameInputCont {
        @include variable.flexBox(column, nowrap, normal, normal, flex-start);
        gap: 0.5rem;

        label {
            text-align: start;
        }
    }

    p {
        text-align: center;
        margin: 0;
        font-weight: variable.$weights-7;
        font-size: variable.$size-r10;
        margin-bottom: 0.5rem;
    }

    .balanceContainer {
        padding: 0.25rem;
        @include variable.flexBox(row, nowrap, center, flex-end, center);
        font-weight: variable.$weights-7;
        font-size: variable.$size-r10 + 0.2rem;
        border: 2px solid variable.$color-font-lotteryTicket;
        border-radius: 0.5rem;

        .akcse {
            padding-left: 1rem;
        }
    }
}

.tippContainer {
    grid-template-columns: repeat(8, 1fr);
    width: 250px;
}

.lotteryListContainer {
    width: 60%;
    height: 685px;
    border-radius: 0.5rem;
    background-color: variable.$color-background-lotteryNumber;
    overflow-x: scroll;
    overflow-y: auto;
    padding: 1rem;
    @include variable.flexBox(column, nowrap, normal, normal, normal);
    gap: 1.5rem;
}

.tableContainer {
    width: 100%;
}

@include variable.Small {
    .tableContainer {
        width: 80%;
        max-width: 565px;
    }
}
@include variable.Medium {
}
@include variable.Large {
}
@include variable.Extra-large {
    .tableContainer {
        max-height: 940px;
        width: 80%;
        max-width: 565px;
        overflow: auto;
    }
}
@include variable.XXL-large {
}
@include variable.XXXL-large {
}
