@use "../../scss/variable.scss";
@use "../../scss/ancestorStyle.scss";

.mainContainer {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: variable.$color-main-background;
}

.container {
    @include variable.container-my;
    @include variable.flexBox(row, wrap, normal, center, normal);
    gap: 2rem;
}

.controlContainer {
    width: 80%;
    max-width: 565px;
    @include variable.flexBox(row, wrap, normal, center, normal);
    gap: 2rem;
}

.profileContainer {
    min-width: 240px;
    width: 100%;
    max-width: 560px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-image: radial-gradient(
        100% 100% at 100% 0,
        variable.$color-background-main1 0,
        variable.$color-background-main2 100%
    );

    .iconContainer {
        width: 100%;
        height: auto;
        @include variable.flexBox(row, nowrap, normal, space-around, flex-end);
        margin-bottom: 1.5rem;

        [type="text"] {
            width: 90%;
            height: 2rem;
            background: none;
            border: 3px solid variable.$color-font-lotteryTicket;
            border-radius: 0.5rem;
            outline: none;
            text-align: center;
            color: variable.$color-basic-black;
            line-height: 0.5rem;
            cursor: pointer;
            font-weight: variable.$weights-9;
            font-size: variable.$size-r10;

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                appearance: none;
            }
        }

        .iconCont {
            width: 80px;
            @include variable.flexBox(column, nowrap, normal, space-evenly, center);
            font-weight: variable.$weights-9;
            .icon {
                font-size: variable.$icon-r20;
            }
        }

        .nameInputCont {
            @include variable.flexBox(column, nowrap, normal, normal, flex-start);
            gap: 0.5rem;

            label {
                text-align: start;
            }
        }
    }

    p {
        text-align: center;
        margin: 0;
        font-weight: variable.$weights-7;
        font-size: variable.$size-r10;
        margin-bottom: 0.5rem;
    }

    .balanceMainContainer {
        padding: 0.25rem;
        @include variable.flexBox(column, wrap, normal, space-evenly, normal);
        border: 2px solid variable.$color-font-lotteryTicket;
        border-radius: 0.5rem;
    }

    .balanceContainer {
        @include variable.flexBox(row, nowrap, center, space-between, center);
        font-weight: variable.$weights-7;
        font-size: variable.$size-r10 + 0.2rem;

        .title {
            width: auto;
            padding-left: 1rem;
            text-align: start;
        }
    }
}

.adminControlContainer {
    width: 100%;
    @include variable.flexBox(column, nowrap, center, center, center);
    gap: 4rem;
    border-radius: 0.5rem;
    background-image: radial-gradient(
        100% 100% at 100% 0,
        variable.$color-background-main1 0,
        variable.$color-background-main2 100%
    );

    .generateTicketContainer {
        width: 70%;
        @include variable.flexBox(row, wrap, normal, center, normal);
        gap: 1rem;

        label {
            font-weight: bold;
        }

        [type="number"] {
            width: 100%;
            height: 1.5rem;
            border: 3px solid variable.$color-font-lotteryTicket;
            border-radius: 0.5rem;
            outline: none;
            color: variable.$color-basic-black;
            line-height: 0.5rem;
            cursor: pointer;
            font-weight: variable.$weights-5;
            font-size: variable.$size-r10;

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                appearance: none;
            }
        }
    }

    .startGenerateCont {
        width: 100%;
        @include variable.flexBox(row, wrap, normal, space-evenly, center);

        button {
            @include ancestorStyle.mainButton;
            height: 2rem;
            font-size: variable.$size-r10;
        }

        .icon {
            font-size: variable.$icon-r15;

            &:hover {
                color: variable.$color-hover-icon;
            }
        }
    }

    .btnContainer {
        width: 70%;
        height: 10rem;
        @include variable.flexBox(row, wrap, normal, space-between, center);

        button {
            @include ancestorStyle.mainButton;
            width: 100%;
            font-size: variable.$size-r10;
        }

        .reset {
            background-image: none;
            background-color: gray;
            color: #adadad;

            &:hover {
                background-color: rgb(196, 66, 66);
                color: white;
            }
        }
    }
}

.tableContainer {
    width: 100%;
}

@include variable.Small {
    .tableContainer {
        width: 80%;
        max-width: 565px;
    }
}
@include variable.Medium {
    .adminControlContainer {
        width: calc(50% - 1rem);
    }
}
@include variable.Large {
}
@include variable.Extra-large {
    .tableContainer {
        max-height: 1278px;
        width: 80%;
        max-width: 565px;
        overflow: auto;
    }
}
@include variable.XXL-large {
}
@include variable.XXXL-large {
}
