@use "../../scss/variable.scss";

.mainContainer {
    width: 100%;
    height: 10rem;
    background-color: #454b57;
    text-align: center;
}

.container {
    height: 100%;
    @include variable.container-my;
    @include variable.flexBox(row, nowrap, center, center, center);

    h1 {
        color: variable.$color-font-white;
        font-size: variable.$size-r30;
    }
}
