@use "../../scss/variable.scss";

header {
    width: 100%;
    height: 5rem;
    background-color: variable.$color-main-background-nav;
    @include variable.flexBox(row, nowrap, normal, space-between, center);
}

.mainContainer {
    height: 100%;
    @include variable.container-my;
    @include variable.flexBox(row, nowrap, normal, space-between, center);
    padding-left: 1rem;
    padding-right: 1rem;
}

.logoContainer {
    height: 100%;
    .logo {
        display: block;
        height: 100%;
        width: auto;
    }
}

.motto {
    display: none;
    font-size: variable.$size-r15;
    font-weight: variable.$weights-9;
    color: variable.$color-font-lotteryTicket;
    letter-spacing: 0.15rem;
    font-style: italic;
}

nav {
    @include variable.flexBox(row, nowrap, normal, space-between, center);
    gap: 1rem;
}

.navCategory {
    @include variable.flexBox(column, nowrap, normal, space-between, center);
    gap: 0.15rem;
    text-decoration: none;
    font-weight: variable.$weights-7;
    color: variable.$color-background-main2;

    &:hover {
        color: variable.$color-background-main1;
    }

    .icon {
        font-size: variable.$icon-r15;
        color: variable.$color-background-main2;
    }
}

@include variable.Small {
}
@include variable.Medium {
}
@include variable.Large {
    .motto {
        display: block;
    }
}
@include variable.Extra-large {
}
@include variable.XXL-large {
}
@include variable.XXXL-large {
}
