@use "../../scss/variable.scss";

table {
    width: 100%;
    border-collapse: collapse;

    thead {
        font-size: variable.$size-r10 + 0.1;
        border-bottom: 2px solid black;
        background-image: radial-gradient(
            100% 100% at 100% 0,
            variable.$color-background-main1 0,
            variable.$color-background-main2 100%
        );
    }

    tbody {
        font-weight: variable.$weights-6;

        tr:nth-child(even) {
            background-color: #fcff5a;
        }

        tr:nth-child(odd) {
            background-color: #ffe054;
        }
    }

    tfoot {
        height: 50px;
        border-top: 2px solid black;
        font-weight: variable.$weights-9;
        font-size: variable.$size-r10 + 0.2;
        background-image: radial-gradient(
            100% 100% at 100% 0,
            variable.$color-background-main1 0,
            variable.$color-background-main2 100%
        );
    }
}

.tableHeadContainer {
    @include variable.flexBox(column, nowrap, center, center, center);
    white-space: nowrap;

    .sortArrow {
        font-size: 1.7rem;

        cursor: pointer;

        &:hover {
            color: green;
        }
    }
}

.lotteryTicketContainer {
    @include variable.flexBox(row, nowrap, normal, space-between, normal);
    border-bottom: 1px solid black;
}

.lotteryNumberContainer {
    width: 150px;
    @include variable.flexBox(row, nowrap, normal, normal, normal);
    gap: 0.2rem;

    .lotteryHitNumber {
        color: red;
    }
}

@include variable.Small {
}
@include variable.Medium {
}
@include variable.Large {
}
@include variable.Extra-large {
}
@include variable.XXL-large {
}
@include variable.XXXL-large {
}
