@use "../../scss/variable.scss";

.mainTable {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;

    thead {
        font-size: variable.$size-r10;
        border-bottom: 2px solid variable.$color-basic-black;
        background-image: radial-gradient(
            100% 100% at 100% 0,
            variable.$color-background-main1 0,
            variable.$color-background-main2 100%
        );

        th {
            &:first-child {
                border-top-left-radius: variable.$main-border-radius;
            }
            &:last-child {
                border-top-right-radius: variable.$main-border-radius;
            }
        }
    }

    tbody {
        font-weight: variable.$weights-6;

        tr {
            &:nth-child(even) {
                background-color: variable.$color-table-1;
            }
            &:nth-child(odd) {
                background-color: variable.$color-table-2;
            }
        }

        td {
            padding: 0.1rem;
        }
    }

    .mainTableFood {
        height: 50px;
        border-top: 2px solid variable.$color-basic-black;
        font-weight: variable.$weights-7;
        font-size: variable.$size-r10 + 0.2;
        background-image: radial-gradient(
            100% 100% at 100% 0,
            variable.$color-background-main1 0,
            variable.$color-background-main2 100%
        );

        td {
            padding: 0 0 0 2rem;

            &:first-child {
                border-bottom-left-radius: variable.$main-border-radius;
            }

            &:last-child {
                border-bottom-right-radius: variable.$main-border-radius;
            }
        }
    }
}

.tableHeadContainer {
    @include variable.flexBox(column, nowrap, center, center, center);
    white-space: nowrap;

    .sortArrow {
        font-size: 1.7rem;

        cursor: pointer;

        &:hover {
            color: variable.$color-hover-icon;
        }
    }
}

.lotteryTicketContainer {
    @include variable.flexBox(row, nowrap, normal, space-between, normal);
    border-bottom: 1px solid variable.$color-basic-black;
}

.lotteryNumberContainer {
    width: 150px;
    @include variable.flexBox(row, nowrap, normal, normal, normal);
    gap: 0.2rem;

    .lotteryHitNumber {
        color: variable.$color-hit-number;
    }
}

@include variable.Small {
}
@include variable.Medium {
}
@include variable.Large {
}
@include variable.Extra-large {
    .mainTable {
        thead {
            position: sticky;
            top: 0;
        }
        tfoot {
            position: sticky;
            bottom: 0;
        }
    }
}
@include variable.XXL-large {
}
@include variable.XXXL-large {
}
