@use "../../../scss/variable.scss";

.lotteryListContainer {
    width: 250px;
    height: 700px;
    border-radius: 0.5rem;
    background-color: floralwhite;
    overflow-x: scroll;
    overflow-y: auto;
    padding: 1rem;
    @include variable.flexBox(column, nowrap, normal, normal, normal);
    gap: 1.5rem;
}

.lotteryTicketContainer {
    width: 100%;
    height: 5rem;
    background-image: radial-gradient(
        100% 100% at 100% 0,
        variable.$color-background-main1 0,
        variable.$color-background-main2 100%
    );
    border-radius: 0.5rem;
    @include variable.flexBox(column, nowrap, normal, space-evenly, normal);
}

.ticketTitleCont {
    @include variable.flexBox(row, nowrap, center, space-between, center);
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    .lottoId {
        width: 40%;
        text-align: end;
    }
}

.lotteryNumberContainer {
    @include variable.flexBox(row, nowrap, center, center, center);
    gap: 0.5rem;

    .lotteryNumber {
        width: 25px;
        height: 25px;
        background-color: aliceblue;
        border-radius: 50%;
        @include variable.flexBox(row, nowrap, center, center, center);
        font-weight: variable.$weights-5;
        font-size: variable.$size-r10;
    }
}
