@use "../../scss/variable.scss";
@use "../../scss/ancestorStyle.scss";

.mainContainer {
    background-color: variable.$color-background-LotteryTicket;
    border-radius: 0.5rem;
    @include variable.flexBox(column, nowrap, center, center, center);
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.ticketHead {
    h2 {
        margin: 0.5rem 0 0 0;
        color: variable.$color-font-lotteryTicket;
        text-align: center;
        font-size: variable.$size-r20;
        font-weight: variable.$weights-9;
    }
}

.numberContainer {
    outline: 2px solid variable.$color-font-lotteryTicket;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    width: calc(4 * 50px + 5 * 5px);
    border-radius: variable.$main-border-radius;
    background-color: bisque;
}

.number {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 0.5rem;
    @include variable.flexBox(row, nowrap, normal, center, center);
    background-image: radial-gradient(
        100% 100% at 100% 0,
        variable.$color-background-main1 0,
        variable.$color-background-main2 100%
    );
    font-size: variable.$size-r10 + 0.2rem;
    font-weight: variable.$weights-9;
    user-select: none;
    cursor: pointer;
}

.full {
    width: 100%;
    height: 100%;
    background-color: variable.$color-ticket-full;
    border-radius: 0.5rem;
    @include variable.flexBox(row, nowrap, normal, center, center);
}

.xImg {
    position: absolute;
    width: 70%;
    height: 70%;
    @include variable.flexBox(row, nowrap, normal, center, center);
}

.btnContainer {
    width: 60%;
    height: 3.5rem;
    font-size: variable.$size-r20;
    @include variable.flexBox(row, nowrap, normal, space-between, center);
    cursor: pointer;

    button {
        @include ancestorStyle.mainButton;
    }

    .icon:hover {
        color: variable.$color-main-button;
    }
}

@include variable.Small {
}
@include variable.Medium {
    .btnContainer {
        width: 90%;
    }
}
@include variable.Large {
}
@include variable.Extra-large {
}
@include variable.XXL-large {
}
@include variable.XXXL-large {
}
